<div id="<%= dom_id four_line %>" class="four_in_line_game">
  <% 6.times do |row| %>
    <div class='row  cat_row_<%=row%>'>
      <% 7.times do |col| %>
      <span class='cell cat_col_<%=col%>'>
        <% unless four_line.state['board'][row.to_s][col.to_s].nil? %>
          <span class='cell four_team_<%=four_line.state['board'][row.to_s][col.to_s] %>'>o</span>
        <% else %>
          <% game = Game.last %>
          <%= button_to 'o', four_line_moves_path(four_line), params: { game_id: game.id, col: col, row: row } %>
        <% end %>
      </span>
      <% end %>
    </div>
  <% end %>

  <br><% four_line.state.each do |element| %>
    <%= element %><br>
  <% end %><br>
<% end %>