<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :data, style: "display: block" %>
    <%= form.text_field :data %>
  </div>

  <div>
    <%= form.label :players, style: "display: block" %>
    <%= form.text_field :players %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :result, style: "display: block" %>
    <%= form.text_field :result %>
  </div>

  <div>
    <%= form.label :statistics, style: "display: block" %>
    <%= form.text_field :statistics %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
