<div id="<%= dom_id game %>">

  <p>
    <strong>Data:</strong>
    <%= game.data %>
  </p>

  <p>
    <strong>Players:</strong>
    <%= game.players %>
  </p>

  <p>
    <strong>State:</strong>
    <% case game.data['sort'] %>
    <% when 'four_line' %>
      <% four_line = FourLine.find game.data['game_id'] %>
      <%= four_line.state %>
    <% when 'cat' %>
      <% cat = Cat.find game.data['game_id'] %>
      <%= cat.state %>
    <% end %>
  </p>

  <p>
    <strong>Result:</strong>
    <%#= game.result %>
  </p>

  <p>
    <strong>Statistics:</strong>
    <%#= game.statistics %>
  </p>

</div>
