<div id="<%= dom_id game %>" class="game_board">

  <p>
    <strong>Data:</strong>
    <%= game.data %>
  </p>

  <p>
    <strong>Players:</strong>
    <%= game.players %>
  </p>

  <p>
    <strong>State:</strong>
    <% case game.data['sort'] %>
    <% when 'cat' %>
      <% @cat = Cat.find game.data['game_id'] %>
      <%= turbo_stream_from @cat %>
      <div id="<%= dom_id(@cat) %>">
        <%= render @cat %>
      </div>
    <% when 'four_lines' %>
      <% @four_lines = FourLine.find game.data['game_id'] %>
      <%= turbo_stream_from @four_lines %>
      <div id="<%= dom_id(@four_lines) %>">
        <%= render @four_lines %>
      </div>
    <% when 'hangman' %>
    <% @hangman = Hangman.find game.data['game_id'] %>
    <%= turbo_stream_from @hangman %>
    <div id="<%= dom_id(@hangman) %>">
      <%= render @hangman, game: game %>
    </div>    
    <% end %>
  </p>

  <p>
    <strong>Result:</strong>
    <%#= game.result %>
  </p>

  <p>
    <strong>Statistics:</strong>
    <%#= game.statistics %>
  </p>

</div>